@using Reunion.Web.Controllers
@using Reunion.Web.Resources
@using Reunion.Web.Models
@using TUtils.Common.MVC
@{
    ViewBag.LayoutVM = new LayoutViewModel(title: Resource1.ReunionTitle);
}
@section head
{
    <div class="container-fluid">
        <div class="row text-center">
            <h1 class="">@Resource1.StartPageHeader</h1>
        </div>
        <div class="row allignContainer">
            <img class="centered"
                 src="/Content/images/reunion5-hd.jpg"
                 alt="'Klassentreffen' by Michael Pollak; license:Creative Commons 2.0; image border was cut"/>
        </div>
    </div>
}

@section body
{
    <div class="row">
        <div class="col-md-4">
            <h2>@Html.Raw(Resource1.WhatIsReunion) </h2>
            <p class="text-justify">
                @Html.Raw(Resource1.Intro)
            </p>
            <p>
                <a href="@Url.Action(nameof(HomeController.Vision))" class="btn btn-default btn-block btn-lg">@Html.Raw(Resource1.MoreAboutReunion) &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>@Resource1.IntroTitle</h2>
            <a href="@Url.Action(nameof(HomeController.CreateNewReunion))" class="btn btn-primary btn-lg btn-block">@Resource1.CreateNewReunion &raquo;</a>
            <a href="@Url.Action(nameof(HomeController.ManageExistingReunion))" class="btn btn-primary btn-lg btn-block">@Resource1.ManageExistingReunion &raquo;</a>
        </div>
        <div class="col-md-4">
            <h2>@Resource1.IntroParticipantTitle</h2>
            <p>@Html.Raw(Resource1.IntroParticipant)</p>
        </div>
    </div>
}
