@using Reunion.Web.Models
@using Reunion.Web.Resources
@model Reunion.Web.Models.IndexViewModel
@{
    ViewBag.LayoutVM = new LayoutViewModel(title: Resource1.AccountManage);
}
@section body
{

    <h2>@Resource1.AccountManage</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>@Resource1.AccountChangeTitle</h4>
        <hr/>

        <dl class="dl-horizontal">
            <dt>@Resource1.Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink(Resource1.AccountChangeYourPassword, "ChangePassword")
                }
                else
                {
                    @Html.ActionLink(Resource1.AccountCreateNew, "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
}